  <div class="row no-gutters border p-2">
    <div class="col">
      <div class="d-flex justify-content-between">
        <h3>Booking List</h3>
        <div class="d-flex justify-content-end mb-4">
          <button type="button" [routerLink]="['/masterdetails/Create']" class="btn btn-primary">Add Booking</button>
        </div>
      </div>

      <div *ngFor="let item of bookingList" class="card mb-4">
        <div class="card-header row no-gutters jumbotron p-2 mb-1">

          <div class="col-md-10">
            <span style="margin-right: 10px;">
              <img src="http://localhost:5117/Images/{{item.picture}}" width="48">
            </span>
            <b>Customer Name :</b> {{item.clientName}}
          </div>
          <div class="col-md-2 my-auto d-flex justify-content-end">
            <button class="btn btn-warning btn-sm">Edit</button>
            <button class="btn btn-danger btn-sm">Delete</button>
          </div>

        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Spot Id</th>
                <th>Spot Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let spotItem of item.spotItems">
                <td>{{spotItem.spotId}}</td>
                <td>{{getSpotName(spotItem.spotId)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
